dotfiles/config/vifm/vifminfo.json

dotfiles/home/.vim/*

dotfiles/config/home/.task/*
dotfiles/home/.task/taskchampion.sqlite3.bak
dotfiles/home/.task/taskchampion.sqlite3

dotfiles/config/kitty/kitty-themes

# keep
!dotfiles/home/.vim/pack/tmux-vim-balken

.gmap
dotfiles/config/kitty/kitty-themes
WARP.md
.github/workflows/test.lock.yml
dotfiles/home/.task/.stfolder/syncthing-folder-2c4e2e.txt
dotfiles/config/swhkd
dotfiles/config/swhkd
dotfiles/config/swhkd
dotfiles/config/swhkd/swhkdrc
.github/instructions/github-agentic-workflows.instructions.md
.github/prompts/create-agentic-workflow.prompt.md
.github/prompts/create-shared-agentic-workflow.prompt.md
.github/prompts/setup-agentic-workflows.prompt.md
.github/workflows/test.md
